In [1]:
import numpy as np
import pandas as pd

# 부동산 가격

## 1. 매매

In [2]:
data = []

for i in range(2006, 2021):
    data.append(pd.read_csv('data/원본/서울특별시_부동산_실거래가_정보_{}년.csv'.format(i)))

C:\Users\PC\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data2020 = pd.read_csv('data/원본/서울특별시_부동산_실거래가_정보_2020년.csv')

C:\Users\PC\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data2020

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
0,11290-2020-4-0000066-1,1129013800101440024,11290,성북구,1129013800,장위동,2020,4,신고,1,0.0,59.92,2,5.0,2001,아파트,749000000,0.0,래미안 장위포레카운티
1,11290-2020-4-0000628-1,1129013400105080016,11290,성북구,1129013400,길음동,2020,4,신고,1,0.0,84.77,2,18.0,2001,아파트,1200000000,0.0,롯데캐슬 클라시아
2,11530-2020-4-0014284-1,1153010200107400029,11530,구로구,1153010200,구로동,2020,4,신고,1,NaN,36.90,0,1.0,2001,아파트,105000000,1994.0,궁전아트빌라
3,11170-2020-4-0005040-1,1117011500101930000,11170,용산구,1117011500,산천동,2020,4,신고,1,NaN,59.55,0,2.0,2001,아파트,830000000,2001.0,리버힐삼성
4,11170-2020-4-0001553-1,1117012900101930003,11170,용산구,1117012900,이촌동,2020,4,신고,1,NaN,64.43,0,5.0,2001,아파트,735000000,1971.0,강변
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175996,11440-2020-4-0012389-1,1144012700,11440,마포구,1144012700,상암동,2020,4,신고,1,101.0,294.03,0,NaN,1001,단독주택,1450000000,1998.0,NaN
175997,11440-2020-4-0012591-1,1144012400,11440,마포구,1144012400,연남동,2020,4,신고,1,157.1,147.34,0,NaN,1001,단독주택,2430000000,1973.0,NaN
175998,11440-2020-4-0012718-1,1144012300104590004,11440,마포구,1144012300,망원동,2020,4,신고,1,47.3,46.77,0,3.0,2002,연립주택,405000000,1983.0,(459-4)
175999,11440-2020-4-0012838-1,1144011100,11440,마포구,1144011100,신수동,2020,4,신고,1,86.0,46.41,0,NaN,1001,단독주택,899900000,1967.0,NaN
176000,11440-2020-4-0012897-1,1144011700,11440,마포구,1144011700,신정동,2020,4,신고,1,53.0,25.69,0,NaN,1001,단독주택,1358000000,1970.0,NaN

In [25]:
cols = ['자치구명', '신고년도', '건물면적', '층정보', '건물주용도', '물건금액', '건축년도']

data2020 = data2020[cols]
data_apt = data2020[data2020['건물주용도']=='아파트']
data_apt

       자치구명  신고년도    건물면적   층정보 건물주용도        물건금액    건축년도
0       성북구  2020   59.92   5.0   아파트   749000000     0.0
1       성북구  2020   84.77  18.0   아파트  1200000000     0.0
2       구로구  2020   36.90   1.0   아파트   105000000  1994.0
3       용산구  2020   59.55   2.0   아파트   830000000  2001.0
4       용산구  2020   64.43   5.0   아파트   735000000  1971.0
...     ...   ...     ...   ...   ...         ...     ...
175970  마포구  2020   58.71   4.0   아파트   626000000  1997.0
175977  마포구  2020  113.67   4.0   아파트  1330000000  2004.0
175979  마포구  2020   82.01   2.0   아파트   560000000  2002.0
175981  마포구  2020   84.98   6.0   아파트   600000000  2006.0
175994  마포구  2020   98.88   7.0   아파트   800000000  1972.0

[88553 rows x 7 columns]

In [27]:
df = pd.DataFrame(columns=cols)
df = pd.concat([df, data_apt], axis=0)
df.set_index('자치구명', inplace=True)
df.reset_index(inplace=True)

      자치구명  신고년도    건물면적   층정보 건물주용도        물건금액    건축년도
0      성북구  2020   59.92   5.0   아파트   749000000     0.0
1      성북구  2020   84.77  18.0   아파트  1200000000     0.0
2      구로구  2020   36.90   1.0   아파트   105000000  1994.0
3      용산구  2020   59.55   2.0   아파트   830000000  2001.0
4      용산구  2020   64.43   5.0   아파트   735000000  1971.0
...    ...   ...     ...   ...   ...         ...     ...
88548  마포구  2020   58.71   4.0   아파트   626000000  1997.0
88549  마포구  2020  113.67   4.0   아파트  1330000000  2004.0
88550  마포구  2020   82.01   2.0   아파트   560000000  2002.0
88551  마포구  2020   84.98   6.0   아파트   600000000  2006.0
88552  마포구  2020   98.88   7.0   아파트   800000000  1972.0

[88553 rows x 7 columns]

In [29]:
df
df.to_csv('data/서울특별시_아파트_실거래가_정보_2020년.csv')

In [7]:
cols = ['자치구명', '신고년도', '건물면적', '층정보', '건물주용도', '물건금액', '건축년도']

for i in range(len(data)):
    data[i] = data[i][cols]

In [27]:
df = pd.DataFrame(columns = cols)
for i in range(len(data)):
    df = pd.concat([df, data[i]], axis=0)

In [43]:
df.set_index('자치구명', inplace=True)
df.reset_index(inplace=True)

In [45]:
df.to_csv('data/서울특별시_부동산_실거래가_정보_2006-2020년.csv')

In [3]:
data = pd.read_csv('data/서울특별시_부동산_실거래가_정보_2006-2020년.csv')
data

         Unnamed: 0 자치구명  신고년도    건물면적   층정보 건물주용도        물건금액    건축년도
0                 0  양천구  2006   59.83   4.0   아파트   215000000  2001.0
1                 1  강동구  2006   50.25   1.0  연립주택   135000000  1990.0
2                 2  양천구  2006   77.17  14.0   아파트   273000000  2000.0
3                 3  강동구  2006  111.51   2.0   아파트   425000000  1983.0
4                 4  양천구  2006   71.77  10.0   아파트   630000000  1987.0
...             ...  ...   ...     ...   ...   ...         ...     ...
2261705     2261705  마포구  2020  294.03   NaN  단독주택  1450000000  1998.0
2261706     2261706  마포구  2020  147.34   NaN  단독주택  2430000000  1973.0
2261707     2261707  마포구  2020   46.77   3.0  연립주택   405000000  1983.0
2261708     2261708  마포구  2020   46.41   NaN  단독주택   899900000  1967.0
2261709     2261709  마포구  2020   25.69   NaN  단독주택  1358000000  1970.0

[2261710 rows x 8 columns]

In [20]:
data['면적당 가격'] = data['물건금액'] / data['건물면적']
data1 = data.groupby(['자치구명', '신고년도'])['면적당 가격'].mean()
data1

자치구명  신고년도
강남구   2006    7.924742e+06
      2007    6.582144e+06
      2008    7.443532e+06
      2009    9.697053e+06
      2010    9.105927e+06
                  ...
중랑구   2016    4.416302e+06
      2017    4.673076e+06
      2018    5.011856e+06
      2019    5.756296e+06
      2020    6.433620e+06
Name: 면적당 가격, Length: 375, dtype: float64

In [22]:
data1.to_csv('data/서울특별시_부동산_면적당_가격_평균_2006-2020년.csv')

In [54]:
data = pd.read_excel('data/유형별_매매가격지수_2005.01-2021.09.xlsx', header=1)

In [67]:
del data['항목']
del data['단위']

In [71]:
data.to_csv('data/유형별_매매가격지수_2005.01-2021.09.csv')

In [2]:
data = pd.read_csv('data/유형별_매매가격지수_2005.01-2021.09.csv')
data

,Unnamed: 0,주택유형별,지역별,2005. 01 월,2005. 02 월,2005. 03 월,2005. 04 월,2005. 05 월,2005. 06 월,2005. 07 월,...,2020. 12 월,2021. 01 월,2021. 02 월,2021. 03 월,2021. 04 월,2021. 05 월,2021. 06 월,2021. 07 월,2021. 08 월,2021. 09 월
0,0,종합,도심권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.255846,98.520446,98.892650,99.134858,99.365119,99.601928,100,100.402237,100.988518,101.581550
1,1,종합,종로,63.366373,63.715998,63.806175,63.329361,63.450267,63.505685,64.192859,...,98.694514,98.902366,99.139690,99.339495,99.549405,99.730068,100,100.358256,100.941944,101.467670
2,2,종합,중,62.036710,62.200459,62.357623,62.539777,62.608980,62.622374,63.289447,...,98.226655,98.479682,98.905068,99.139880,99.365693,99.566415,100,100.332211,100.819011,101.314073
3,3,종합,용산,45.398604,45.642526,46.129881,47.182868,48.192119,48.905256,49.986289,...,97.983289,98.290705,98.724473,98.998131,99.243944,99.535609,100,100.466088,101.104096,101.790454
4,4,종합,동북권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.072041,97.418900,98.008492,98.444460,98.848103,99.270755,100,100.699667,101.454497,102.095673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,단독주택,도심권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.531511,97.941291,98.297820,98.678730,99.071957,99.510752,100,100.448876,100.916651,101.411667
66,66,단독주택,동북권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.653064,97.981940,98.366729,98.746818,99.115554,99.533245,100,100.407956,100.837222,101.233313
67,67,단독주택,서북권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.869041,98.281244,98.612548,98.914393,99.252173,99.604573,100,100.410419,100.843398,101.321284
68,68,단독주택,서남권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.005913,98.295548,98.647049,98.904418,99.189605,99.530169,100,100.431522,100.826293,101.190215
69,69,단독주택,동남권,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.410585,97.823579,98.180179,98.512963,98.971064,99.380563,100,100.372845,100.894246,101.406921

In [86]:
data = pd.read_csv('data/원본/시군구_성_연령(5세)별_주민등록연앙인구_2005-2020.csv')

In [87]:
del data['단위']
del data['항목']
del data['Unnamed: 21']

In [93]:
data['성별'] = data['성별'][data['성별'] != '계']
data.dropna(axis=0, inplace=True)

In [94]:
data.to_csv('data/시군구_성_연령(5세)별_인구_2005-2020.csv')